/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
.form {
  margin: 20px auto;
  text-align: center;
}
input {
  padding: 8px;
  width: 300px;
}
button {
  padding: 8px 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  list-style: none;
  justify-content: center;
}
.gallery-item {
  width: 300px;
}
.gallery-item img {
  width: 100%;
  display: block;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.hidden {
  display: none;
}

.load-more.hidden {
  display: none;
}
